.container {
    font-family: 'Roboto', sans-serif !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-switch:focus {
    outline: none !important;
    box-shadow: none !important;
}